body {
    background-color: black;
}

#title {
    color: white;
    font-family: Helvetica;
}

.navbar-expand-sm {
    background-color: black;
}

.nav-link {
    color: white;
}

.text-muted {
    color: white
}

.contained {
    color: white;
}

p {
    white-space: pre-line;
}
